<h1>The Game of Life Score Board #DontJudge</h1> 
<p>
<?php

?>
</p>

<p> First place: Mitchell 13pts.</p>
<P> Second place: Dapo 14pts.</p>
<p> Third place: Kyle 16 pts.</p>
<p> Last place: Jacked Jordan 18 pts.</p>


<p> Highest Net Worth: $3,020,000.</p>
<p> Lowest Net worth: $750,000 

<P> 

